[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
tinydb = "*"

[dev-packages]
requests = ">=2.20.0"
pylint = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.6"
